.infoSection {
  display: flex;
  justify-content: center;
  gap: 20px;
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: 0 auto;
}

.tables {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 300px;
}

.suitContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

table {
  width: auto;
  border-collapse: collapse;
  margin: 10px 0;
  table-layout: fixed;
}

th, td {
  border: 2px solid #ddd;
  padding: 4px 6px;
  text-align: center;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.header {
  font-size: 1.3em;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  background-color: #f4f4f4;
  border-bottom: 2px solid #ddd;
}

.suitTable th:first-child,
.suitTable td:first-child {
  width: 50%;
}

.suitTable th:last-child,
.suitTable td:last-child {
  width: 50%;
}

th {
  background-color: #f4f4f4;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

.suitRecommendations {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
}

@media (max-width: 768px) {
  .infoSection {
    padding: 10px;
    max-width: 350px;
  }

  .tables {
    gap: 10px;
    max-width: 250px;
  }

  table {
    font-size: 14px;
  }

  th, td {
    padding: 3px 4px;
  }
}