/* 장연주 전체 수정 */
.containerWrap {
  display: block;
  justify-content: center;
  padding-left: 5px;
  padding-right: 10px;
}

.cardRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch; /*카드뷰 양쪽 높이 동일하게*/
  gap: 16px;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.cardColLeft {
  flex: 0 0 15%;
  min-width: 100px;
}

.cardColRight {
  width: 85%;
  min-width: 250px;
  padding: 0;
  margin: 0 auto;
  max-width: 100%;
}

.fullCardRow {
  display: block;
  width: 100%;
  max-width: 1000px;
  margin: 16px auto 0 auto;
}

.tempCard {
  background-color: #05c7f2;
  color: white;
  border-radius: 7px; /*15*/
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 100%;
}

.suitCard {
  background-color: #f7f4ed;
  color: #404040;
  border-radius: 7px;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 100%;
}

.scheduleCard {
  background-color: #f2f2f2;
  color: #404040;
  border-radius: 7px;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 100%;
}

.tempTitle {
  text-align: center;
  font-weight: bolder;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  padding-bottom: 5px;
}

.tempContents {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 85%;
}

.logoSize {
  object-fit: contain;
  width: 60px;
  height: 60px;
  display: block;
}

.cText {
  text-align: center;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: clamp(1.1rem, 1.5vw, 1.35rem);
  margin: 0;
  line-height: 1.2;
  padding: 0;
}

.cTable {
  font-size: 13px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: transparent; /* 배경 투명 */
  border-collapse: collapse;
  width: 95%;
  border: none;
  outline: none;
  box-shadow: none;
}

.cTable th {
  font-size: 15px;
  vertical-align: middle;
  background-color: transparent;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  text-align: center;
  padding-bottom: 4px;
}

.cTable td {
  font-size: 15px;
  vertical-align: middle;
  background-color: transparent;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  white-space: pre-line; /*줄바꿈 설정*/
  text-align: center;
}

.cTable td,
.cTable th {
  border-bottom: 1px solid #404040; /* 내부 격자선 */
  border-right: 1px solid #404040;
}

.cTable td:last-child,
.cTable th:last-child {
  border-right: none;
}

.cTable tr:last-child td {
  border-bottom: none;
}

@media (max-width: 768px) {
  .containerWrap {
    display: block;
    justify-content: center;
  }

  .fullCardRow {
    width: 100%;
    max-width: 100%;
    margin-top: 16px;
  }

  .cTable {
    width: 95%;
    margin: 0 auto;
  }

  .tempTitle {
    font-size: 20px;
  }

  .tempCard {
    max-width: 100px;
  }

  .suitCard {
    width: 100%;
    padding: 0;
    margin: 0 auto;
    max-width: 100%;
  }
}

.denied {
  color: #dc3545;
  font-weight: bold;
}

.allowed {
  color: #0d6efd;
  font-weight: bold;
}

.conditional {
  color: #ffc107;
  font-weight: bold;
}

.cTable td.suitTypeSmallText {
  font-size: 13px;
}
